<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Denuncias | Concejal</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/user/styles.css" />
</head>

<body>
    <header-component></header-component>

    <sidebar-component>
        <div slot="content">
            <section id="complaints" class="content-section">
                <div class="content-header">
                    <h1>Mis Denuncias</h1>

                    <div>
                        <div class="search-filter">
                            <input type="text" placeholder="Buscar denuncias..." />

                            <select class="custom-select">
                                <option>Ordenar por: Más recientes</option>
                                <option>Más populares</option>
                                <option>Por categoría</option>
                            </select>
                        </div>

                        <button id="btn-create-complaint" class="btn-create">
                            Crear Denuncia
                        </button>
                    </div>
                </div>

                <div id="complaints-container" class="content-body"></div>

                <div class="pagination"></div>
            </section>

            <section id="complaints-detail" style="display: none">
                <div class="content-header">
                    <img id="complaint-detail-image" alt="logo" class="detail-image" />
                    <span id="complaint-detail-category" class="detail-category"></span>
                    <span id="complaint-detail-date" class="detail-date"></span>
                </div>

                <div class="page-detail-content">
                    <h1 id="complaint-detail-title" class="detail-title"></h1>
                    <div id="complaint-detail-body" class="detail-body"></div>

                    <div class="page-detail-navigation">
                        <button id="prev" class="btn-link">
                            ← Anterior
                        </button>
                        <button id="back" class="btn-primary" onclick="window.location.href='complaints.html'">
                            Volver a Denuncias
                        </button>
                        <button id="next" class="btn-link">
                            Siguiente Denuncia →
                        </button>
                    </div>
                </div>

                <div class="comments-section">
                    <h2>Comentarios</h2>

                    <form id="complaint-comment-form" class="comment-form">
                        <textarea name="comment-text" id="complaint-comment-text" placeholder="Escribe tu comentario..."
                            required></textarea>
                        <button type="submit" class="btn-primary">
                            Publicar comentario
                        </button>
                    </form>

                    <div id="complaint-comments-list" class="comments-list"></div>
                </div>
            </section>

            <section id="complaints-form" style="display: none">
                <div class="content-header">
                    <button class="btn-primary" onclick="window.location.href='complaints.html'">
                        Volver a Denuncias
                    </button>
                </div>

                <div>
                    <form class="new-content-form" id="complaintForm">
                        <div>
                            <input type="text" id="complaint-title" name="complaint-title"
                                placeholder="Título de la Denuncia" required />
                        </div>

                        <div>
                            <select class="custom-select" id="complaint-category" name="complaint-category" required>
                                <option value="">
                                    Selecciona una categoría
                                </option>
                                <option value="Denuncia Ciudadana">
                                    Denuncia Ciudadana
                                </option>
                                <option value="Denuncia">Denuncia</option>
                            </select>
                        </div>

                        <div>
                            <textarea id="complaint-content" name="complaint-content"
                                placeholder="Detalla aquí tu denuncia" rows="10" required></textarea>
                        </div>

                        <div>
                            <input type="file" id="complaint-image" name="complaint-image" accept="image/*"
                                class="hidden-file-input" />
                            <label class="btn-primary" for="complaint-image">Subir Imagen</label>
                        </div>

                        <div>
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </sidebar-component>

    <footer-component></footer-component>

    <script src="../../assets/vendor/sweetalert2-11.17.2/package/dist/sweetalert2.all.min.js"></script>
    <script src="../../assets/vendor/fontawesome-free-6.7.2-web/js/all.min.js"></script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/components/councilor/header.js"></script>
    <script src="../../assets/js/components/councilor/sidebar.js"></script>
    <script src="../../assets/js/components/councilor/footer.js"></script>
</body>

</html>