<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad | Usuario</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/user/styles.css" />
</head>

<body>
    <header-component></header-component>

    <sidebar-component>
        <div slot="content">

            <section id="community" class="content-section">
                <div class="content-header">
                    <h1>Miembros de la Comunidad</h1>
            
                    <div>
                        <div class="search-filter">
                            <input type="text" placeholder="Buscar miembro..."/>
                        </div>
                    </div>
                </div>
            
                <div id="community-container" class="content-body"></div>
            
                <div class="pagination">
                    <a href="#" class="page-item active">1</a>
                    <a href="#" class="page-item">2</a>
                    <span class="page-item">...</span>
                    <span class="page-item">...</span>
                    <a href="#" class="page-item">10</a>
                </div>
            </section>

        </div>
    </sidebar-component>

    <footer-component></footer-component>

    <script src="../../assets/vendor/sweetalert2-11.17.2/package/dist/sweetalert2.all.min.js"></script>
    <script src="../../assets/vendor/fontawesome-free-6.7.2-web/js/all.min.js"></script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/components/user/header.js"></script>
    <script src="../../assets/js/components/user/sidebar.js"></script>
    <script src="../../assets/js/components/user/footer.js"></script>
</body>

</html>