<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de Usuario - Montes de Oca</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/user/registroStyles.css">
    <script src="validaciones.js"></script>
</head>
<body>
    <header>
        <a href="/" class="logoMuni muniSprite">
            <img src="../../assets/img/logomontesdeoca.PNG" alt="Municipalidad de Montes de Oca" class="logo">
        </a>
        </nav>
    </header>
    
    <main>
        <section class="registroContainer">
            <div class="registroInfo">
                <h1>Municipalidad de Montes de Oca</h1>
                <img src="../../assets/img/logomontesdeoca.PNG" alt="Municipalidad de Montes de Oca">
            </div>
            <div class="registro">
                <h2>¡REGÍSTRATE PARA COMENZAR!</h2>
                <form>
                    <div class="form-row">
                        <input type="text" placeholder="Nombre" required>
                        <input type="text" placeholder="Apellidos" required>
                    </div>
                    <div class="form-row">
                        <input type="email" placeholder="Correo" required>
                        <input type="tel" placeholder="Teléfono" required>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Cédula" required>
                        <input type="text" placeholder="Dirección" required>
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="Contraseña" required>
                        <input type="password" placeholder="Confirmar Contraseña" required>
                    </div>
                    <button type="submit">Completar Registro</button>
                </form>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footerContainer">
            <div class="footerContent">
                <div class="footerColumn">
                    <a href="/" class="footerLogoMuni muniSprite">
                        <img src="../../assets/img/logooscuro.PNG" alt="Municipalidad de Montes de Oca">
                    </a>
                    <div class="addressBlock">
                        <strong>Dirección</strong>
                        <p>C. **, San José, San Pedro</p>
                    </div>
                </div>
                <div class="footerColumn">
                    <strong class="columnTitle">Navegación</strong>
                    <ul class="footerNav">
                        <li class="navListItem"><a href="../user/home.html">INICIO</a></li>
                        <li class="navListItem"><a href="/Noticias">NOTICIAS</a></li>
                        <li class="navListItem"><a href="/Denuncias">DENUNCIAS</a></li>
                        <li class="navListItem"><a href="/MUNICIPALIDAD">MUNICIPALIDAD</a></li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <strong class="columnTitle">Nuestras Redes</strong>
                    <div class="socialContainer">
                        <a href="/instagram" class="socialLogo socialLogoInstagram">
                            <img src="../../assets/img/logoinstagram.webp" />
                        </a>
                        <a href="/facebook" class="socialLogo socialLogoFacebook">
                            <img src="../../assets/img/logodefacebook.png" />
                        </a>
                        <a href="/x" class="socialLogo socialLogoX">
                            <img src="../../assets/img/logox.png" />
                        </a>
                    </div>
                </div>
                <div class="footerColumn">
                    <strong class="columnTitle">Contacto</strong>
                    <div class="contactInfo">
                        <p>Horario: Lunes - Viernes, 8:00 AM - 4:00 PM</p>
                        <p>Teléfonos: 2280-5589 / 2280-6034</p>
                        <p>Fax: 2281-2219</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerCopyright">
            <p>&copy; 2018 Municipalidad de Montes de Oca - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>