<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios | Usuario</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/user/styles.css" />
</head>

<body>
    <header-component></header-component>

    <sidebar-component>
        <div slot="content">
            <section id="notices" class="content-section">
                <div class="content-header">
                    <h1>Servicios Municipales</h1>

                    <div>
                        <div class="search-filter">
                            <input type="text" placeholder="Buscar servicios..." />

                            <select class="custom-select">
                                <option>Ordenar por: Más recientes</option>
                                <option>Más populares</option>
                                <option>Por categoría</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="services-container" class="content-body"></div>

                <div class="pagination"></div>
            </section>

            <section id="services-detail" style="display: none">
                <div class="content-header">
                    <img id="notice-detail-image" alt="Logo" class="detail-image" />
                    <span id="notice-detail-category" class="detail-category"></span>
                    <span id="notice-detail-date" class="detail-date"></span>
                </div>

                <div class="page-detail-content">
                    <h1 id="notice-detail-title" class="detail-title"></h1>
                    <div id="notice-detail-body" class="detail-body"></div>

                    <div class="page-detail-navigation">
                        <button id="prev" class="btn-link">
                            ← Servicio anterior
                        </button>
                        <button id="back" class="btn-primary" onclick="window.location.href='services.html'">
                            Volver a Servicios
                        </button>
                        <button id="next" class="btn-link">
                            Siguiente servicio →
                        </button>
                    </div>

                    <div class="comments-section">
                        <h2>Comentarios</h2>

                        <form id="comment-form" class="comment-form">
                            <textarea name="comment-text" id="comment-text" placeholder="Escribe tu comentario..."
                                required></textarea>

                            <button type="submit" class="btn-primary">
                                Publicar comentario
                            </button>
                        </form>

                        <div id="comments-list" class="comments-list"></div>
                    </div>
                </div>
            </section>
        </div>
    </sidebar-component>

    <footer-component></footer-component>

    <script src="../../assets/vendor/sweetalert2-11.17.2/package/dist/sweetalert2.all.min.js"></script>
    <script src="../../assets/vendor/fontawesome-free-6.7.2-web/js/all.min.js"></script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/components/user/header.js"></script>
    <script src="../../assets/js/components/user/sidebar.js"></script>
    <script src="../../assets/js/components/user/footer.js"></script>
</body>

</html>