<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil de Usuario - Montes de Oca</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/user/userProfile.css">
    <link rel="stylesheet" href="../../assets/css/user/styles.css">
</head>
<body>

    <header>
        <a href="#" class="logoMuni muniSprite"></a>

        <nav>
            <ul class="navbar">
                <li class="navListItem"><a href="home.html">Inicio</a></li>
                <li class="navListItem"><a href="community.html">Comunidad</a></li>
                <li class="navListItem"><a href="#">Opcion 2</a></li>
            </ul>
        </nav>

        <a href="#" class="userPhotoContainer">
            <img class="userProfilePhoto" src="../../assets/img/user_profile.jpg" />
        </a>
    </header>

    <main>
        <section class="perfil-container">
            
            <aside class="sidebar">
                <h2>Usuarios</h2>
                <button class="sidebar-btn">Perfil Usuario</button>
            </aside>

            <section class="perfil-content">
                
                <div class="datos-usuario">
                    <div class="foto-usuario">
                        <img src="../../assets/img/user_profile.jpg" alt="Foto de Usuario">
                    </div>
                    <form class="formulario-datos">
                        <input type="text" placeholder="Nombre" required>
                        <input type="text" placeholder="Apellidos" required>

                        <input type="tel" placeholder="Teléfono" required>
                        <input type="text" placeholder="Distrito" required>

                        <input type="text" placeholder="Otras señas" class="input-largo">
                    </form>
                </div>


                <div class="denuncias">
                    <h3>Denuncias Realizadas</h3>
                    <p><strong>Denuncias Realizadas</strong> Lista de denuncias realizadas por este usuario.</p>
                </div>

        
                <div class="iniciativas">
                    <h3>Iniciativas Apoyadas</h3>
                    <p><strong>Iniciativas Apoyadas</strong> Lista de iniciativas apoyadas por este usuario.</p>
                </div>

            </section>
        </section>
    </main>
    <footer>
        <div class="footerContainer">
            <div class="footerContent">
                <div class="footerColumn">
                    <a href="#" class="footerLogoMuni muniSprite"></a>

                    <div class="addressBlock">
                        <strong>Dirección</strong>
                        <p>Costa Rica</p>
                    </div>
                </div>

                <div class="footerColumn">
                    <strong class="columnTitle">Navegación</strong>

                    <ul class="footerNav">
                        <li class="navListItem"><a href="#">Inicio</a></li>
                        <li class="navListItem"><a href="#">Comunidad</a></li>
                        <li class="navListItem"><a href="#">Opcion 2</a></li>
                    </ul>
                </div>

                <div class="footerColumn">
                    <strong class="columnTitle">Nuestras Redes</strong>

                    <div class="socialContainer">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>

                <div class="footerColumn">
                    <strong class="columnTitle">Contacto</strong>

                    <div class="contactInfo">
                        <div class="scheduleBlock">
                            <h4>Horario de atención</h4>
                            <p>Lunes a viernes</p>
                            <p>8:00 AM - 4:00 PM</p>
                        </div>
                        <div class="phoneBlock">
                            <h4>Central telefónica</h4>
                            <p>2222-2222 / 8888-0000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footerCopyright">
            <p>Todos los derechos reservados © 2025</p>
        </div>
    </footer>
  
</body>
</html>
