<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/auth.css" />
</head>

<body>
    <header>
        <a href="#" class="logoMuni muniSprite"></a>
    </header>

    <form class="formPass">
        <div class="text-end">
            <a href="./login.html">Iniciar Sesión</a>
        </div>
        <br>

        <h3>Recuperar Contraseña</h3>

        <label for="email">Correo</label>
        <input type="email" placeholder="Ingrese su correo" id="email">

        <button disabled>Recuperar</button>
    </form>
</body>

</html>